.OpticCardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.opticCard{
    width: 33%;
    height: 60vh;
    /* overflow: hidden; */
}

.opticContent{
    height: 90%;
    /* text-overflow: clip; */
}

.opticPic{
    height:20vh;
    /* width:30px; */

}